<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../../../../assets/images/logo.png" style=" height: 80px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Main/Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">En</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<section class="mt-200" *ngIf="aboutInfo">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 p-0">
                <img [src]="aboutInfo?.aboutUsFilepath" style="height: 350px;" class="about-img radius-top" />
            </div>
            <div class="col-xl-12 p-0">
                <div class="back-white p-4 h-100 w-100 radius-bottom">
                    <h2 class="blue">About Us</h2>
                    <p class="text-justify"
                        [innerHTML]="currentLang === 'ar' ? aboutInfo?.contentAr : aboutInfo?.contentEn">
                    </p>


                </div>

            </div>
        </div>
    </div>
</section>

<ng-container *ngIf="aboutData">
    <section class="pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 p-0">
                    <img [src]="aboutData?.visionImage" style="height: 350px;" class="about-img radius-left">
                </div>
                <div class="col-xl-6 p-0">
                    <div class="back-white p-4 h-100 w-100 radius-right">
                        <h2 class="blue">Vision</h2>
                        <p class="text-justify">
                            {{ currentLang === 'ar' ? aboutData?.visionAr : aboutData?.visionEn }}
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="pt-150">
        <div class="container">
            <div class="row">

                <div class="col-xl-6 p-0">
                    <div class="back-white p-4 h-100 w-100 radius-left">
                        <h2 class="blue">Mission</h2>
                        <p class="text-justify">
                            {{ currentLang === 'ar' ? aboutData?.missionAr : aboutData?.missionEn }}</p>
                    </div>

                </div>
                <div class="col-xl-6 p-0">
                    <img [src]="aboutData?.missionImage" style="height: 350px;" class="about-img radius-right w-100">
                </div>
            </div>
        </div>
    </section>
    <section class="pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 p-0">
                    <img [src]="aboutData?.valuesImage" style="height: 350px;" class="about-img radius-left">
                </div>
                <div class="col-xl-6 p-0">
                    <div class="back-white p-4 h-100 w-100 radius-right">
                        <h2 class="blue">Value</h2>
                        <p class="text-justify">
                            {{ currentLang === 'ar' ? aboutData?.valuesAr : aboutData?.valuesEn }}
                        </p>


                    </div>

                </div>
            </div>
        </div>
    </section>
</ng-container>

<section class="pt-150 mb-150">
    <div class="container">
        <h2 class="text-center blue mb-4">
            Our Team
        </h2>
        <ng-container *ngIf="customOptions && teams && teams.length > 0">
            <owl-carousel-o [options]="customOptions" style="padding: 0 !important; margin: 0 !important;">
                <ng-container *ngFor="let team of teams ">
                    <ng-template carouselSlide>
                        <div class="item">
                            <div class="card">
                                <img [src]="team?.imagePath" class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title dark-blue">{{ currentLang === 'ar' ? team?.memberNameAr : team?.memberNameEN }}</h5>
                                    <p class="font-14">{{ currentLang === 'ar' ? team?.positionAr||'Employee' : team?.positionEn||'Employee' }}</p>
            
                                </div>
                            </div>
                        </div>
                  </ng-template>
                </ng-container>
            </owl-carousel-o>
        </ng-container>
    </div>
</section>