<section class="mt-150">
    <div class="container">
        <div class="text-center mb-5">
            <img src="../../../../../../assets/images/acheivement.png" style="margin-bottom:24px;">
            <h1 class="title-blue">
                {{"ABOUT_TITLE"|translate}}
                <br />
                {{"ABOUT_SUBTITLE"|translate}}
            </h1>
        </div>

        <div class="row">
            <div class="col-md-6" *ngFor="let itemWebsiteAboutUsDept of listWebsiteAboutUsDept ; let index = index"
                [ngClass]="index %2 ? 'mt-150': 'mb-5'">
                <div class="about-box-3 mt-1">
                    <div class="gates-item">
                        <h5 class="text-28-white">{{currentLang === 'ar' ? itemWebsiteAboutUsDept?.titleAr :
                            itemWebsiteAboutUsDept?.titleEn}}</h5>
                        <p class="text-20 white">
                            {{currentLang === 'ar' ? itemWebsiteAboutUsDept?.deptBodyAr :
                            itemWebsiteAboutUsDept?.deptBodyEn}}
                        </p>
                    </div>

                </div>
            </div>
        </div>




    </div>
</section>


<section class="mt-150">
    <div class="container">
        <div class="text-center mb-5">
            <img src="../../../../../../assets/images/acheivement.png" style="margin-bottom:24px;">
            <h1 class="title-blue mb-4">
                {{currentLang === 'ar' ? websiteAboutUs?.titleAr : websiteAboutUs?.titleEn}}

            </h1>
            <p class="text-20" [innerHTML]="currentLang === 'ar' ? websiteAboutUs?.bodyAr : websiteAboutUs?.bodyEn">
            </p>
        </div>



    </div>
</section>



<section class="mt-150">
    <div class="container">
        <div class="row">
            <ng-container
                *ngFor="let itemindexAboutUsBranchs of listWebsiteAboutUsBranchs ;let indexAboutUsBranchs =index">
                <ng-container *ngIf="indexAboutUsBranchs % 2 == 0">
                    <div class="col-lg-6 mt-150" >
                        <!-- [ngClass]="indexAboutUsBranchs%2 ? 'order-lg-5':'order-lg-1'" -->
                        <img [src]="listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.imagePath"
                            class="w-100 img-shadow mb-3">
                    </div>

                    <div class="col-lg-6 mt-150" >
                        <!-- [ngClass]="indexAboutUsBranchs%2 ? 'order-lg-1':'order-lg-5'" -->
                        <h1 class="blue">{{currentLang === 'ar' ?
                            listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.titleAr :
                            listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.titleEn }}</h1>
                        <p class="text-22">
                            {{currentLang === 'ar' ? listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.bodyAr :
                            listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.bodyEn}}
                        </p>
                        <a [href]="listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.url.startsWith('http') 
                            ? listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.url 
                            : 'https://' + listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.url" target="_blank">
                            <button class="btn btn-blue btn-wide">{{ 'MORE' | translate }}</button>
                        </a>
                    </div>
                </ng-container>
                <ng-container *ngIf="(indexAboutUsBranchs) % 2== 1">
                    <div class="col-lg-6 mt-150" >
                        <!-- [ngClass]="indexAboutUsBranchs%2 ? 'order-lg-1':'order-lg-5'" -->
                        <h1 class="blue">{{currentLang === 'ar' ?
                            listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.titleAr :
                            listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.titleEn }}</h1>
                        <p class="text-22">
                            {{currentLang === 'ar' ? listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.bodyAr :
                            listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.bodyEn}}
                        </p>
                        <a [href]="listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.url.startsWith('http') 
                            ? listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.url 
                            : 'https://' + listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.url" target="_blank">
                            <button class="btn btn-blue btn-wide">{{'MORE'|translate}}</button>
                        </a>
                    </div>

                    <div class="col-lg-6 mt-150">
                        <!-- [ngClass]="indexAboutUsBranchs%2 ? 'order-lg-5':'order-lg-1'" -->
                        <img [src]="listWebsiteAboutUsBranchs[indexAboutUsBranchs]?.imagePath"
                            class="w-100 img-shadow mb-3">
                    </div>


                </ng-container>
            </ng-container>

        </div>
    </div>
</section>