<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../../../../assets/images/logo.png" style=" height: 80px;" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
                    <li
                    class="nav-item"
                    *ngFor="let link of navLinks"
                    

                    (click)="scrollToSection(link.fragment)"
                  >
                    <a
                      class="nav-link"
                      [class.active]="currentSection === link.fragment"
                      >{{ link.name }}</a
                    >
                  </li>
                  </ul>

            </div>
        </div>
    </nav>

    <section id="slider" *ngIf="sliderData && sliderData.length>0">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <ng-container *ngFor="let slide of sliderData; let i = index">
                <button type="button" data-bs-target="#carouselExampleCaptions"  [attr.data-bs-slide-to]="i"
                [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null"
                [attr.aria-label]="'Slide ' + (i + 1)"></button>
              </ng-container>
            </div>
            <div class="carousel-inner">
              <div *ngFor="let slide of sliderData; let i = index" class="carousel-item" [class.active]="i === 0">
                    <img [src]="slide?.imagePath" class="d-block w-100" />
                    <div class="carousel-caption d-none d-md-block">
                        <h1>
                          {{ currentLang === 'ar' ? slide.titleAr : slide.titleEn }}
                        </h1>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="about" class="pt-150">
        <div class="container">
            <div class="row" *ngIf="aboutInfo">
                <div class="col-xl-6 p-0">
                    <img [src]="aboutInfo?.aboutUsFilepath" class="about-img radius-left" />
                </div>
                <div class="col-xl-6 p-0">
                    <div class="back-white p-4 h-100 w-100 radius-right">
                        <h2 class="blue">About Us</h2>
                        <p class="text-justify" [innerHTML]="currentLang === 'ar' ? aboutInfo?.contentAr : aboutInfo?.contentEn">
                            
                        </p>

                        <button class="btn btn-cyan" (click)="goDetails('/Main/AboutUs/General')">
                            More...
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="products" class="pt-150 mb-2">

        <div class="container">
            <h2 class="text-center blue mb-4">
                Our Products
            </h2>

            <ng-container *ngIf="customOptions && productsItems && productsItems.length > 0">
              <owl-carousel-o [options]="customOptions" >
                <ng-container *ngFor="let product of productsItems">
                    <ng-template carouselSlide>

                        <div class="item">
                            <div class="card">
                                <img [src]="product?.filepath" class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title dark-blue">{{ currentLang === 'ar' ? product?.nameAr : product?.nameEn }}</h5>
                                    <p class="font-14" [innerHTML]="currentLang === 'ar' ? product?.contentAr : product?.contentEn">
                                     
                                    </p>
    
                                    <div class="d-flex justify-content-start gap-3">
                                        <button class="btn btn-cyan">
                                            More...
                                        </button>
                                        <button (click)="selectCurrentItem(product,'product')" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Request Product
                                        </button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
              </owl-carousel-o>
          </ng-container>
        </div>

    </section>

    <section id="services" class="pt-150 service-container">
        <div class="container">
            <h2 class="text-center white mb-4">
                Our Services
            </h2>
            <ng-container *ngIf="customOptionsServices && services && services.length > 0">
              <owl-carousel-o [options]="customOptionsServices" >
                <ng-container *ngFor="let item of services">
                    <ng-template carouselSlide>
                        <div class="item">

                          <div *ngIf="item[0]" class="radius back-white p-4 row mb-3">
                              <div class="col-xl-4 col-lg-3 p-0">
                                  <img [src]="item[0]?.filepath" class="about-img radius service-img" style="width: 190px; height: 210px;" />
                              </div>
                              <div class="col-xl-8 col-lg-9 p-0 px-lg-3">
                                  <h5 class="card-title dark-blue mb-2 mt-2 mt-lg-0">{{ currentLang === 'ar' ? item[0]?.nameAr : item[0]?.nameEn }}</h5>
                                  <p class="font-14" [innerHTML]=" currentLang === 'ar' ? item[0]?.contentAr : item[0]?.contentEn">
                                  </p>
      
                                  <div class="d-flex justify-content-start gap-3">
                                      <button class="btn btn-cyan">
                                          More...
                                      </button>
                                      <button (click)="selectCurrentItem(item[0],'service')" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          Request Service
                                      </button>
                                  </div>
                              </div>
                          </div>
                          <div *ngIf="item[1]" class="radius back-white p-4 row mb-3">
                              <div class="col-xl-4 col-lg-3 p-0">
                                  <img [src]="item[1]?.filepath" class="about-img radius service-img" style="width: 190px; height: 210px;"  />
                              </div>
                              <div class="col-xl-8 col-lg-9 p-0 px-lg-3">
                                  <h5 class="card-title dark-blue mb-2 mt-2 mt-lg-0">{{ currentLang === 'ar' ? item[1]?.nameAr : item[1]?.nameEn }}</h5>
                                  <p class="font-14" [innerHTML]=" currentLang === 'ar' ? item[1]?.contentAr : item[1]?.contentEn">
                                  </p>
      
                                  <div class="d-flex justify-content-start gap-3">
                                      <button class="btn btn-cyan">
                                          More...
                                      </button>
                                      <button (click)="selectCurrentItem(item[1],'service')"class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          Request Service
                                      </button>
                                  </div>
                              </div>
                          </div>
      
                      </div>
                      </ng-template>
                </ng-container>
              </owl-carousel-o>
          </ng-container>
        </div>
    </section>


    <section id="projects" class="pt-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 mb-4">
                    <div class="back-white radius p-4 h-100">
                        <h2 class="blue mb-3">Our Projects</h2>
                        <p class="mb-0">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose


                        </p>

                    </div>
                </div>

            </div>
          
            <div class="row">
              <ng-container *ngIf="customOptions && projects && projects.length > 0">
                <owl-carousel-o [options]="customOptions" style="padding: 0 !important; margin: 0 !important;">
                    <ng-container *ngFor="let project of projects ">
                        <ng-template carouselSlide>
                          <div class="item">
                              <div class="project-container">
                                  <img [src]="project?.filepath" class="image" />
                                  <div class="overlay">
                                      <h6 class="whit text-start mb-3">{{ currentLang === 'ar' ? project.nameAr : project.nameEn }}</h6>
      
                                      <div class="d-flex justify-content-start gap-2">
                                          <button class="btn btn-cyan btn-small">
                                              More...
                                          </button>
                                          <button (click)="selectCurrentItem(project , 'project')" class="btn btn-blue btn-small" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              Request Project
                                          </button>
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </ng-container>
                
            </div>
        </div>
    </section>

    <section id="contact" class="pt-150 ">
        <div class="contact-form">
            <div class="container">
                <h2 class="blue mb-3">Contact Us</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing </p>

                <form [formGroup]="contactForm" (ngSubmit)="onSubmitContact()">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="mb-3">
                          <label for="name" class="form-label">Name</label>
                          <input
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': isSubmittedContact && contactForm.controls['name'].invalid }"
                          />
                          <div class="invalid-feedback" *ngIf="isSubmittedContact && contactForm.controls['name'].invalid">
                            Name is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input
                            type="email"
                            id="email"
                            formControlName="email"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': isSubmittedContact && contactForm.controls['email'].invalid }"
                          />
                          <div class="invalid-feedback" *ngIf="isSubmittedContact && contactForm.controls['email'].invalid">
                            Valid email is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="mb-3">
                          <label for="phone1" class="form-label">Phone Number</label>
                          <input
                            type="tel"
                            id="phone1"
                            formControlName="phone1"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': isSubmittedContact && contactForm.controls['phone1'].invalid }"
                          />
                          <div class="invalid-feedback" *ngIf="isSubmittedContact && contactForm.controls['phone1'].invalid">
                            Phone number is required.
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="mb-3">
                          <label for="companyName" class="form-label">Company Name</label>
                          <input
                            type="text"
                            id="companyName"
                            formControlName="companyName"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': isSubmittedContact && contactForm.controls['companyName'].invalid }"
                          />
                          <div class="invalid-feedback" *ngIf="isSubmittedContact && contactForm.controls['companyName'].invalid">
                            Company name is required.
                          </div>
                        </div>
                      </div>
                  
                      <div class="col-xl-12">
                        <div class="mb-3">
                          <label for="message" class="form-label">Message</label>
                          <textarea
                            id="message"
                            formControlName="message"
                            class="form-control"
                            rows="3"
                          ></textarea>
                        </div>
                      </div>
                      <div class="justify-content-center d-flex">
                        <button type="submit" class="btn btn-cyan btn-wide">Send</button>
                      </div>
                    </div>
                  </form>
                  

            </div>
        </div>
    </section>

 












    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 blue" id="exampleModalLabel">Request Service</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="mb-3">
                              <label for="requesterName" class="form-label">Name</label>
                              <input
                                type="text"
                                id="requesterName"
                                formControlName="requesterName"
                                class="form-control"
                                [ngClass]="{'is-invalid': isSubmitted && requestForm.controls['requesterName'].invalid}"
                              />
                              <div class="invalid-feedback" *ngIf="isSubmitted && requestForm.controls['requesterName'].invalid">
                                Name is required.
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="mb-3">
                              <label for="email" class="form-label">Email</label>
                              <input
                                type="email"
                                id="email"
                                formControlName="email"
                                class="form-control"
                                [ngClass]="{'is-invalid': isSubmitted && requestForm.controls['email'].invalid}"
                              />
                              <div class="invalid-feedback" *ngIf="isSubmitted && requestForm.controls['email'].invalid">
                                Valid email is required.
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="mb-3">
                              <label for="mobileNo" class="form-label">Phone Number</label>
                              <input
                                type="tel"
                                id="mobileNo"
                                formControlName="mobileNo"
                                class="form-control"
                                [ngClass]="{'is-invalid': isSubmitted && requestForm.controls['mobileNo'].invalid}"
                              />
                              <div class="invalid-feedback" *ngIf="isSubmitted && requestForm.controls['mobileNo'].invalid">
                                Phone number is required.
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="mb-3">
                              <label for="companyName" class="form-label">Company Name</label>
                              <input
                                type="text"
                                id="companyName"
                                formControlName="companyName"
                                class="form-control"
                                [ngClass]="{'is-invalid': isSubmitted && requestForm.controls['companyName'].invalid}"
                              />
                              <div class="invalid-feedback" *ngIf="isSubmitted && requestForm.controls['companyName'].invalid">
                                Company name is required.
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-12">
                            <div class="mb-3">
                              <label for="notes" class="form-label">Notes</label>
                              <textarea
                                id="notes"
                                formControlName="notes"
                                class="form-control"
                              ></textarea>
                            </div>
                          </div>
                          <div class="d-flex justify-content-center gap-3">
                            <button type="submit" class="btn btn-cyan">Send Request</button>
                            <button type="button" class="btn btn-blue" data-bs-dismiss="modal">Cancel</button>
                            <!-- Hidden close button -->
                            <button id="hiddenCloseBtn" type="button" class="d-none" data-bs-dismiss="modal"></button>
                        </div>
                        </div>
                      </form>
                      
                </div>
               
            </div>
        </div>
    </div>

<p-toast position="top-right"></p-toast>