<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
   
</head>
<body class="register-page">

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-lg-6 mb-5">
                        <div class="login-container">
                            <img src="../assets/images/login-logo.png" class="w-100 mb-5" />
                            <p>{{ 'REGISTER.NO_ACCOUNT' | translate }}</p>
                            <h2 class="mb-4">{{ 'REGISTER.TITLE' | translate }}</h2>
                            <div class="form-floating mb-4">
                                <input type="BeneficentName" class="form-control" id="floatingInput" placeholder="{{ 'REGISTER.BENEFICENT_NAME' | translate }}" [(ngModel)]="formValues.BeneficentName" name="BeneficentName">
                                <label for="floatingInput">{{ 'REGISTER.BENEFICENT_NAME' | translate }}</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="IdNumber" class="form-control" id="floatingInput" placeholder="{{ 'REGISTER.ID_NUMBER' | translate }}" [(ngModel)]="formValues.IdNumber" name="IdNumber">
                                <label for="floatingInput">{{ 'REGISTER.ID_NUMBER' | translate }}</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="EmailAddress" class="form-control" id="floatingInput" placeholder="{{ 'REGISTER.EMAIL_ADDRESS' | translate }}" [(ngModel)]="formValues.EmailAddress" name="EmailAddress">
                                <label for="floatingInput">{{ 'REGISTER.EMAIL_ADDRESS' | translate }}</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="MobileNumber1" class="form-control" id="floatingInput" placeholder="{{ 'REGISTER.MOBILE_NUMBER' | translate }}" [(ngModel)]="formValues.MobileNumber1" name="MobileNumber1">
                                <label for="floatingInput">{{ 'REGISTER.MOBILE_NUMBER' | translate }}</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="UserName" class="form-control" id="floatingInput" placeholder="{{ 'REGISTER.USERNAME' | translate }}" [(ngModel)]="formValues.UserName" name="UserName">
                                <label for="floatingInput">{{ 'REGISTER.USERNAME' | translate }}</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="Password" class="form-control" id="floatingPassword" placeholder="{{ 'REGISTER.PASSWORD' | translate }}" [(ngModel)]="formValues.Password" name="Password">
                                <label for="floatingPassword">{{ 'REGISTER.PASSWORD' | translate }}</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="Password" class="form-control" id="floatingPassword" placeholder="{{ 'REGISTER.REENTER_PASSWORD' | translate }}" [(ngModel)]="formValues.ReEnterPassword" name="ReEnterPassword">
                                <label for="floatingPassword">{{ 'REGISTER.REENTER_PASSWORD' | translate }}</label>
                            </div>
                            <button class="btn btn-green w-100" style="height: 58px; font-size: 16px;" (click)="OnRegisterlogin()">
                                {{ 'REGISTER.SUBMIT' | translate }}
                            </button>
                        </div>
                    </div>
                
                    <div class="col-lg-6 mb-5 align-items-center d-flex">
                        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <h1 class="white">{{ 'REGISTER.CAROUSEL.TITLE' | translate }}</h1>
                                    <p class="white">{{ 'REGISTER.CAROUSEL.DESCRIPTION' | translate }}</p>
                                </div>
                                <div class="carousel-item">
                                    <h1 class="white">{{ 'REGISTER.CAROUSEL.TITLE' | translate }}</h1>
                                    <p class="white">{{ 'REGISTER.CAROUSEL.DESCRIPTION' | translate }}</p>
                                </div>
                                <div class="carousel-item">
                                    <h1 class="white">{{ 'REGISTER.CAROUSEL.TITLE' | translate }}</h1>
                                    <p class="white">{{ 'REGISTER.CAROUSEL.DESCRIPTION' | translate }}</p>
                                </div>
                            </div>
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="js/owl.carousel.js"></script>
  
</body>
</html>
<p-toast position="top-right"></p-toast>



