<section class="mt-150">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-3">
                <div class="member-item" [ngStyle]="{
                    'background-image': 'url(' + (aboutBoardOfDirectors[0].imagePath ? aboutBoardOfDirectors[0].imagePath : './assets/images/member-img.png') + ')'
                  }">
                    <div class="member-item-caption w-100">
                        <div class="member-item-caption-details">
                            <h3 class="white">{{aboutBoardOfDirectors[0].meberNameEn}}</h3>
                            <h4 class="white">{{aboutBoardOfDirectors[0].positionEn}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col-lg-3" *ngFor="let aboutBoardOfDirector of aboutBoardOfDirectors | slice:1">
                <div 
                class="member-item"
                [ngStyle]="{
                  'background-image': 'url(' + (aboutBoardOfDirector.imagePath ? aboutBoardOfDirector.imagePath : './assets/images/member-img.png') + ')'
                }">
                <div class="member-item-caption w-100">
                  <div class="member-item-caption-details">
                    <h3 class="white">{{currentLang === 'ar' ? aboutBoardOfDirector.meberNameAr : aboutBoardOfDirector.meberNameEn  }}</h3>
                    <h4 class="white">{{currentLang === 'ar' ? aboutBoardOfDirector.positionAr : aboutBoardOfDirector.positionEn  }}</h4>
                   
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          
          
          


    </div>
</section>